<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <title>AppTitle</title>
</head>

<body>
    <header>
            <a class="first-item" href="{% url 'feed_view'%}">LitReview</a>
            <a class="menu-item" href="{% url 'feed_view'%}">Flux</a>
            <a class="menu-item" href="{% url 'my_posts_view'%}">Mes posts</a>
            <a class="menu-item" href="{% url 'follow_view'%}">Abonnements</a>
            <a class="last-item" href="/registration/logout/">Se déconnecter</a>
    </header>
    
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            <span>{{ message }}</span>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <section class="main">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>