{% extends "bookreviews/base.html" %}

{% block content %}
<h1>Créer une nouvelle review</h1>
<div>
  {% if user == ticket.user %}
  <span class="you">Vous avez créé ce ticket</span>
  {% else %}
  <span>Ticket créé par {{ ticket.user }}</span>
  {% endif %}
  <span>{{ ticket.time_created }}</span>
</div>
<h2>{{ ticket.title }}</h2>
<div><span>{{ ticket.descripton }}</span></div>
<img class="cover" src="/media/{{ ticket.image }}" alt="image de couverture du ticket" />
</div>
<hr>
<form method="post" enctype="multipart/form-data">
  {% include "bookreviews/form.html" with form=review_form %}
    <button type="submit">Envoyer</button>
  </form>
{% endblock %}