{% extends "bookreviews/base.html" %}

{% block content %}
    <h1>Créer une nouvelle review</h1>
    <h2 class="subtitle">1. Créer un nouveau ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% include "bookreviews/form.html" with form=ticket_form %}
        <hr>
        <h2 class="subtitle">2. Créer la review liée à ce ticket</h2>
        {% include "bookreviews/form.html" with form=review_form %}
        <button type="submit">Envoyer</button>
      </form>
{% endblock %}