{% extends "bookreviews/base.html" %}

{% block content %}
    <h1>Bonjour {{ user.email }}, voici <b>votre feed</b></h1>
    <div class="btn-container">
        <a class="primary-btn" href="{% url 'create_ticket_view'%}">Créer un ticket</a>
        <a class="secondary-btn" href="{% url 'create_review_view'%}">Créer une review</a>
    </div>
    <div>
        <h2 class="subtitle">👉 Posts les plus récents des personnes que vous suivez :</h2>
        <div>
            {% for post in posts %}
                {% if post.content_type == 'TICKET' %}
                    {% include "bookreviews/ticket-container.html" with has_create_review_btn=True is_editable=False is_within_review=False %}
                
                {% elif post.content_type == 'REVIEW' %}
                    {% include "bookreviews/review-container.html" with is_editable=False%}
                
                {% endif %}
            {% empty %}
            <span>Aucun post à afficher pour le moment. 👀</span>
            {% endfor %}

        <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a class="start" href="?page=1">&laquo; Revenir au début</a>
                        <a class="previous" href="?page={{ posts.previous_page_number }}">Précédent</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ posts.number }} sur {{ posts.paginator.num_pages }}
                    </span>
            
                    {% if posts.has_next %}
                        <a class="next" href="?page={{ posts.next_page_number }}">Suivant</a>
                        <a class="end" href="?page={{ posts.paginator.num_pages }}">Aller vers la dernière page &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}