{% extends "bookreviews/base.html" %}

{% block content %}
    <h1>Suivez de nouveaux utilisateurs</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="search" name="email" list="choices" placeholder="Choisissez un utilisateur à suivre...">
            <datalist id="choices">
                {% for usr in all_users %}
                <option value={{ usr.email }} />
                {% endfor %}
              </datalist>

            <button type="submit">Suivre</button>
          </form>
    </div>
    <h2 class="subtitle">Vous suivez les utilisateurs suivants :</h2>
    <div>
            {% for usr in i_follow %}
            <div class="user-follow"><span>😎 {{ usr.followed_user }}</span><a class="last-item"href="{% url 'unfollow_view' user_id=usr.followed_user.id%}">Ne plus suivre</a></div>
            {% empty %}
            <span>Vous ne suivez aucun utilisateur pour le moment. Suivez des utilisateurs via le formulaire ci-dessus ☝️</span>
            {% endfor %}
    
        
    </div>
    <h2 class="subtitle">Ces utilisateurs vous suivent :</h2>
    <div>
    
            {% for usr in my_followers %}
            <div class="user-follow-bis">👀 {{ usr.user }}</div>
            {% empty %}
            <span>Vous n'êtes pas très populaire. Personne ne vous suit 👀</span>
            {% endfor %}
        
        
    </div>
    
{% endblock %}