{% extends "bookreviews/base.html" %}

{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="search" name="email" list="choices" placeholder="Choisissez un utilisateur à suivre...">
            <datalist id="choices">
                {% for usr in all_users %}
                <option value={{ usr.email }} />
                {% endfor %}
              </datalist>

            <button type="submit">Suivre</button>
          </form>
    </div>
    <h2>Abonnements</h2>
    <div>
    
            {% for usr in i_follow %}
            <div><span>{{ usr.followed_user }}</span><a href="{% url 'unfollow_view' user_id=usr.followed_user.id%}">Ne plus suivre</a></div>
            {% endfor %}
    
        
    </div>
    <h2>Abonnées</h2>
    <div>
    
            {% for usr in my_followers %}
            <div>{{ usr.user }}</div>
            {% endfor %}
        
        
    </div>
    
{% endblock %}