{% extends "bookreviews/base.html" %}

{% block content %}
    <h1>Mes posts</h1>
    <div>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include "bookreviews/ticket-container.html" with has_create_review_btn=False is_editable=True is_within_review=False %}  

            {% elif post.content_type == 'REVIEW' %}
                {% include "bookreviews/review-container.html" with is_editable=True%}

            {% endif %}
        {% empty %}
        <span>Aucun post à afficher pour le moment. 👀</span>
        {% endfor %}
    </div>
{% endblock %}