<div class="ticket-container">
    <div class="metadata">
        {% if is_within_review %}
            {% if user == post.ticket.user %}
            <span class="you">Vous avez créé ce ticket</span>
            {% else %}
            <span>Ticket créé par {{ post.ticket.user }}</span>
            {% endif %}
            <span>{{ post.ticket.time_created }}</span>
        {%else %}
            {% if user == post.user %}
            <span class="you">Vous avez créé ce ticket</span>
            {% else %}
            <span>Ticket créé par {{ post.user }}</span>
            {% endif %}
            <span>{{ post.time_created }}</span>
        {% endif %}
    </div>
    <h2>{{ post.title }}</h2>
    <div><span>{{ post.descripton }}</span></div>
    {% if is_within_review %}
    <img class="cover" src="/media/{{ post.ticket.image }}" alt="image de couverture du ticket" />
    {% else %}
    <img class="cover" src="/media/{{ post.image }}" alt="image de couverture du ticket" />
    {% endif %}
    {% if has_create_review_btn %}
    <div class="card-btn-container">
        <a class="secondary-btn" href="{% url 'create_review_from_ticket_view' ticket_id=post.id%}">Créer une review</a>
    </div>
    {% endif %}
    {% if is_editable %}
    <div class="card-btn-container">
        <a class="primary-btn" href="{% url 'edit_own_ticket_view' ticket_id=post.id%}">Modifier</a>
        <a class="last-item" href="{% url 'delete_ticket_view' ticket_id=post.id%}">Supprimer</a>
    </div>
    {% endif %}

</div>
