<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <title>LitReview</title>
</head>

<body>
    <header>
            <a class="first-item" href="{% url 'signin_view'%}">LitReview</a>
    </header>
    
    {% if messages %}
    <div class="messages" id="popup">
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            <span>{{ message }}</span>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <section class="main">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>