{% extends "registration/base.html" %}

{% block content %}
<a href="{% url 'signin_view' %}" class="secondary-btn">> Revenir à la page de connexion</a>
<br>
<h2>Inscrivez-vous sur LitReview 🎉</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">S'inscrire</button>
</form>
{% endblock %}